body {
  font-family: 'roboto', sans-serif;
  /* background-image: url(../PICTURE/daniel-chekalov-614447-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.mainBG {
  height: auto;
  width: 100%;
}
#firstPara {
  font-size: 36pt;
  text-align: center;
  width:500px;
  position: absolute;
  bottom: 450px;
  right: 550px;
  color: black;
  letter-spacing: 4px;

}

#navbarMain {
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  margin-top: 25px;
}

#Logo {
  margin-top: 5px;
  height: 75px;
  width: auto;
}

#para1 {
  font-size: 36pt;
  letter-spacing: 6px;
  line-height: 200px;
  font-weight: 500;
  margin-top: 100px;
}

#backgroundImg {
  height: 60%;
  width: 75%;
}

.navbar-nav li a {
  line-height: 53px;
  font-size: 1.1em;
  letter-spacing: 2px;
  background-color: #f8f8f8 !important;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.buttonMain {
  display: flex;
  justify-content: space-evenly;
}

.buttonMain button {
  background-color: whitesmoke;
  margin-top: 50px;
}
#firstBGdiv {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
  position: relative;
}


#backgroundMain {
  position: relative;
  z-index: 0;
}

.row {
  height:600px;
}

/* md */
@media screen and (max-width: 991px) {
  #para1 {
    font-size: 26pt;
    letter-spacing: 6px;
    line-height: 75px;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}

/* xs < 768 */
@media screen and (max-width: 767px) {
  #para1 {
    font-size: 22pt;
    letter-spacing: 6px;
    line-height: 50px;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
  }

  .buttonMain {
    display: flex;
    justify-content: space-evenly;
  }

  .buttonMain button {
    background-color: whitesmoke;
    margin: 30px 0 0 0;
    font-size: 10pt;
  }
}

/* lg */
@media screen and (min-width: 991px) {
  #para1 {
    font-size: 30pt;
    letter-spacing: 8px;
    line-height: 75px;
    font-weight: 500;
    margin-top: 50px;
  }
}

/* xlg */
@media screen and (min-width: 1200px) {
  #para1 {
    font-size: 36pt;
    letter-spacing: 8px;
    line-height: 90px;
    font-weight: 350;
    margin-top: 130px;
    /* color: #f8f8f8;
    text-shadow: 1px 1px 2px gray; */
  }
}