body {
  height: calc(100vh - 85px);
  font-family: Roboto,Arial, Helvetica, sans-serif;
}
#Logo {
  margin-top: 5px;
  height: 75px;
  width: auto;
}
#para1 {
  font-size: 36pt;
  letter-spacing: 10px;
  line-height: 120px;
  font-weight: 500;
}

#posthelp {
  font-size: 50pt;
  letter-spacing: 10px;
  line-height: 90px;
  font-weight: 500;
  color: yellow;
}

#thelabel {
  font-size: 12pt;
  font-weight: bold;

}

#textmid{
      position: absolute;
      /*width:500px;
      height:400px;
      left:550px;
      top:40px;*/
      background-color: grey;
    }

#smallUpload{
  font-size: 8pt;

}

#file1{
  background-color: grey;
}

.navbar-nav li a {
  line-height: 55px;
  font-size: 1.1em;
  letter-spacing: 2px;
}
.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
.buttonMain {
  display: flex;
  justify-content: flex-start;
}
.buttonMain button {
  background-color: whitesmoke;
  margin: 20px 0 0 30px;
}
